################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
/SynchronizeThreadsToPrint_aaabbc/SynchronizeThreadsToPrint_aaabbc/x64/*
/SynchronizeThreadsToPrint_aaabbc/.vs/*
/SynchronizeThreadsToPrint_aaabbc/x64/*
*.filters
*.user
/SynchronizeThreadsToPrint_aaabbc/SynchronizeThreadsToPrint_aaabbc/.vscode/*
/SynchronizeThreadsToPrint_aaabbc/Debug/*
/SynchronizeThreadsToPrint_aaabbc/Release/*
/SynchronizeThreadsToPrint_aaabbc/SynchronizeThreadsToPrint_aaabbc/Debug/*
/SynchronizeThreadsToPrint_aaabbc/SynchronizeThreadsToPrint_aaabbc/Release/*
