################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
/SynchronizeThreadsToPrint_aaabbc/SynchronizeThreadsToPrint_aaabbc/x64/*
/SynchronizeThreadsToPrint_aaabbc/.vs/*
/SynchronizeThreadsToPrint_aaabbc/x64/*
*.filters
*.user
/SynchronizeThreadsToPrint_aaabbc/SynchronizeThreadsToPrint_aaabbc/.vscode/*
/SynchronizeThreadsToPrint_aaabbc/Debug/*
/SynchronizeThreadsToPrint_aaabbc/Release/*
/SynchronizeThreadsToPrint_aaabbc/SynchronizeThreadsToPrint_aaabbc/Debug/*
/SynchronizeThreadsToPrint_aaabbc/SynchronizeThreadsToPrint_aaabbc/Release/*
/EvenOddNumbers/.vs/EvenOddNumbers/*
/EvenOddNumbers/EvenOddNumbers/x64/*
/EvenOddNumbers/x64/*
/EvenOddNumbers/Debug/*
/EvenOddNumbers/EvenOddNumbers/Debug/*
/EvenOddNumbers/EvenOddNumbers/Release/*
/EvenOddNumbers/Release/*
/MultipleProducer_MultipleConsumer/.vs/*
/MultipleProducer_MultipleConsumer/Debug/*
/MultipleProducer_MultipleConsumer/Release/*
/MultipleProducer_MultipleConsumer/x64/*
/MultipleProducer_MultipleConsumer/MultipleProducer_MultipleConsumer/x64/*
/MultipleProducer_MultipleConsumer/MultipleProducer_MultipleConsumer/Debug/*
/MultipleProducer_MultipleConsumer/MultipleProducer_MultipleConsumer/Release/*
/Lock-Free/Stack/.vs/Stack
/Lock-Free/Stack/Stack/x64/Debug
/Lock-Free/Stack/x64/Debug
